# arUSD trading volume by wallet

## How to start
You need to register an account with [Bitquery](https://graphql.bitquery.io/ide). You get your personal API key which you need to run this script.

Click on Play repeatedly until you reach the section where you get asked to enter your Bitquery API key. Enter the key and press play again. In a few seconds you will get the result.

Alternatively you can run this notebook locally and 

## Data returned
It is assumed that the address swapping is is also swapping out. Synth-to-synth swaps and transfers of synths between wallets are not considered.

arUSD contract: 0x025AB35fF6AbccA56d57475249baaEae08419039

Swapping contract: 0x948011e8ca8df1e9c83fee88967a5fc30c7a604b

Fee holder contract: 0xc768915863a333db9bb871bd687dd0a0ae41a3be

In [3]:
import os
from pathlib import Path
#import scripts.utils as utils
import utils
import pandas as pd
#from IPython.display import display, HTML
import matplotlib.pyplot as plt
#%matplotlib inline
from IPython.display import HTML
# pd.option_context('display.precision', 3)
# pd.options.display.float_format = '{:,.5e}'.format
api_key = None
if not os.path.isfile('.env'):
	api_key = input("Please enter your Bitquery API key. You can get one at https://graphql.bitquery.io/ide and paste it here: ")

start_date = "2022-06-01"

query_variables = {"start_date": start_date}

# Get all swap-out transactions
query = """
query ($start_date: ISO8601DateTime) {
ethereum(network: avalanche) {
    transfers(
			options: {
				limit:100000
				desc: ["amount"]
			}
			success: true
			date: {since: $start_date}
			receiver:{notIn:["0xc768915863a333db9bb871bd687dd0a0ae41a3be","0x948011e8ca8df1e9c83fee88967a5fc30c7a604b"]}
			sender:{is:"0x0000000000000000000000000000000000000000"}
			currency: {is: "0x025AB35fF6AbccA56d57475249baaEae08419039"}
		) {
		receiver {address}
		amount
		currency {symbol, address}
   }
  }
}
"""

swap_out_result = utils.bitqueryAPICall(query, query_variables, api_key)

swap_out = []
for r in swap_out_result["data"]["ethereum"]["transfers"]:
    swap_out.append([r["receiver"]["address"], r["amount"]])

# Get all swap-in transactions
query = """
query ($start_date: ISO8601DateTime) {
ethereum(network: avalanche) {
    transfers(
			options: {
				limit:100000
				desc: ["amount"]
			}
			success: true
			date: {since: $start_date}
			receiver:{is:"0x948011e8ca8df1e9c83fee88967a5fc30c7a604b"}
			sender:{notIn:["0x0000000000000000000000000000000000000000", "0xc768915863a333db9bb871bd687dd0a0ae41a3be"]}
			currency: {is: "0x025AB35fF6AbccA56d57475249baaEae08419039"}
		) {
		sender {address}
		amount
		currency {symbol, address}
   }
  }
}
"""

swap_in_result = utils.bitqueryAPICall(query, query_variables, api_key)

swap_in = []
for r in swap_in_result["data"]["ethereum"]["transfers"]:
    swap_in.append([r["sender"]["address"], r["amount"]])

# Get last transaction date
query = """
query ($start_date: ISO8601DateTime) {
ethereum(network: avalanche) {
    transfers(
			options: {
				limit:1
				desc: ["block.timestamp.iso8601"]
			}
			success: true
			date: {since: $start_date}
			receiver:{notIn:["0xc768915863a333db9bb871bd687dd0a0ae41a3be","0x948011e8ca8df1e9c83fee88967a5fc30c7a604b"]}
			sender:{is:"0x0000000000000000000000000000000000000000"}
			currency: {is: "0x025AB35fF6AbccA56d57475249baaEae08419039"}
		) {
		block {timestamp {iso8601}}
   }
  }
}
"""
last_out = utils.bitqueryAPICall(query, query_variables, api_key)

query = """
query ($start_date: ISO8601DateTime) {
ethereum(network: avalanche) {
    transfers(
			options: {
				limit:1
				desc: ["block.timestamp.iso8601"]
			}
			success: true
			date: {since: $start_date}
			receiver:{is:"0x948011e8ca8df1e9c83fee88967a5fc30c7a604b"}
			sender:{notIn:["0x0000000000000000000000000000000000000000", "0xc768915863a333db9bb871bd687dd0a0ae41a3be"]}
			currency: {is: "0x025AB35fF6AbccA56d57475249baaEae08419039"}
		) {
		block {timestamp {iso8601}}
   }
  }
}
"""
last_in = utils.bitqueryAPICall(query, query_variables, api_key)
last_tx_date=max(last_in["data"]["ethereum"]["transfers"][0]["block"]["timestamp"]["iso8601"],last_out["data"]["ethereum"]["transfers"][0]["block"]["timestamp"]["iso8601"])

# Filter out arUSD swap-out transactions from wallets that never performed a swap-in
df_out = utils.df(swap_out, columns=["address", "amount_out"])
df_in = utils.df(swap_in, columns=["address", "amount_in"])
int_df = pd.merge(df_out, df_in, how='inner', on=['address'])

# sum of amount_in and amount_out
int_df['amount'] = int_df['amount_in'] + int_df['amount_out']

# Output
print("Most recent transaction: "+last_tx_date)

# Sum of all swap-in and swap-out transactions
print("Total volume: "+str(int_df['amount'].sum().round(2)))


int_df.round(2)

# display(int_df)

Most recent transaction: 2022-10-01T18:56:40Z
Total volume: 4940108.76

,address,amount_out,amount_in,amount
0,0x02aceac337c6039eb9b0d2e43b730241ca620f73,1255268.75,1245479.93,2500748.68
1,0x42326781b4776719ec87d57246d19c79ea1f7629,699941.33,692595.14,1392536.48
2,0xd939c534bbb89463b1bef66d9201f4b287352e6d,258584.93,249601.08,508186.01
3,0xc5e297e508364c9b247a4b6209c5da73d9880867,86483.28,83388.42,169871.70
4,0x16a522067b5d88a803dd43f64dea23d28a5d3cc9,35788.73,735.00,36523.73
5,0xb7113ce37c448a4ebf5f94c1e360f3dd52d35729,31485.40,3625.57,35110.98
6,0xd35f615565b16b46f09c3e96553d175483978b73,31393.66,29839.40,61233.06
7,0x531563f28b6d595583a9158475d1048372a03e2c,30844.36,27976.49,58820.86
8,0x364705913b668b17f7595fba78b4e8888f5927f2,26245.99,7372.21,33618.20
9,0x274aaa262e11cac18865a3e8d0cd43675d0a4fe1,25892.18,22194.44,48086.62
10,0xec45068364bfaf1020c71972018408a95a8ccfa0,22969.66,4999.28,27968.93
11,0xf6d4259b551870737321dad38663ba44fa28c47b,20218.98,19191.54,39410.52
12,0x6fe797a05359c9d91b1f85d418e2ed4ea6c65a8f,12609.70,400.01,13009.70
13,0x5c72dfe4e7521ff41d4644d1b0022ebd5ea411d8,10343.87,1710.89,12054.76
14,0x450be0c72a21bc378b189d75c5e19a82aadf02ff,1004.76,625.28,1630.04
15,0xd6f2bd474bd3b83b00bea93692fbe61af23f510b,248.50,250.00,498.50
16,0xd4f51a58a97b9ab80d3c24f826699d3beb25f7b6,159.14,3.00,162.14
17,0xeda76870f0c8a853b475f0d534f79f4a533e4148,88.08,6.00,94.08
18,0x8f944fdb523ca6cc7b63934bce0b442aedc6bb3a,51.36,1.00,52.36
19,0x289812fe59675f800b832fd0c9e881275ee2d34e,39.76,40.00,79.76
20,0x552ab8bc3e7b6e48e2834e09ba5f54fa0c0a5d5b,33.10,33.10,66.19
21,0x930a7c96162e472023dd1a652c56cdd98dbe9537,30.76,19.22,49.98
22,0xd341cde0fd55274bcfef2ca8dabfa61e92acc1c2,27.50,27.50,55.00
23,0x58217cb5a0d40d9acf8197311dd74712ba7fc0ac,19.80,20.00,39.80
24,0x0e0c28e83d2c34a4b764fe87139d17998a4dcb57,11.88,6.00,17.88
25,0x1e5546545d2caa364942f4473c42e9217b4d7094,10.53,10.53,21.06
26,0xbf45f790265a13c10749cf0d316defdc7fed87f5,7.00,7.00,14.00
27,0x9049e18574e1ebe1d718d61a4308c0b843dfa2ec,6.48,134.52,141.01
28,0xfee740fb924b7e680581593db068ac0dc9ce9250,3.82,0.75,4.57
29,0xa4dcba3e794895a336149646781167b49ecc89e3,1.52,0.64,2.17